* {
    box-sizing: border-box;
}

/* Reset a few browser defaults. */
.faux-table dl,
.faux-table dt,
.faux-table dd {
    margin: 0;
}

/* A bit of margin below each <dl> element. */
.faux-table dl {
    margin-bottom: 1rem;
}

/* ...except the last one. */
.faux-table dl:last-of-type {
    margin-bottom: 0;
}

/* Allow the <dd> elements next to the <dt> elements. */
.faux-table dt {
    clear: left;
    float: left;
    margin-right: .25rem;
}

/* Toss a colon between them. (Not necessary, of course.) */
.faux-table dt:after {
    content: ":";
}

@media (min-width:37.5em) {

    /* Reset 'mobile' selectors from above. */
    .flexbox .faux-table dl {
        margin-bottom: 0;
    }

    /* Reset 'mobile' selectors from above. */
    .flexbox .faux-table dt {
        clear: none;
        float: none;
        margin-right: 0;
    }

    /* Reset 'mobile' selectors from above. */
    .flexbox .faux-table dt:after {
        content: "";
    }

    .flexbox .faux-table dt,
    .flexbox .faux-table dd {
        padding: 15px; /* 'Cell' padding. */
        width: 20%; /* 'Cell' width. */
        word-wrap: break-word; /* Control how long strings break in confined spaces. */
    }

    .flexbox .faux-table dl:nth-of-type(2n+1) {
        background-color: silver; /* A background color for every-other 'row'. */
    }

    .flexbox .faux-table dl:first-of-type {
        display: -webkit-flex; /* Safari: This first 'row' needs to be a flexbox. */
        display: flex; /* This first 'row' needs to be a flexbox. */
        -webkit-flex-wrap: wrap; /* Safari: It also needs to allow its children to wrap. */
        flex-wrap: wrap; /* It also needs to allow its children to wrap. */
    }

    .flexbox .flexbox .faux-table dl:first-of-type dt {
        -webkit-align-self: flex-start; /* Safari: All <dt> elements in the first 'row' will align themselves to the top of the flexbox parent. */
        align-self: flex-start; /* All <dt> elements in the first 'row' will align themselves to the top of the flexbox parent. */
        background-color: black;
        color: white;
    }

    /* To make all of this look like a regular table, we lay out the first 'row's' elements in an order other than their natural source order. All of the <dt>s come before their sibling <dd>s, which gives us the illusion of column headers. */
    .flexbox .faux-table dl:first-of-type dt:nth-of-type(1) {-webkit-order:1; order:1;}
    .flexbox .faux-table dl:first-of-type dt:nth-of-type(2) {-webkit-order:2; order:2;}
    .flexbox .faux-table dl:first-of-type dt:nth-of-type(3) {-webkit-order:3; order:3;}
    .flexbox .faux-table dl:first-of-type dt:nth-of-type(4) {-webkit-order:4; order:4;}
    .flexbox .faux-table dl:first-of-type dt:nth-of-type(5) {-webkit-order:5; order:5;}
    /* End the <dt>s, begin the <dd>s. */
    .flexbox .faux-table dl:first-of-type dd:nth-of-type(1) {-webkit-order:6; order:6;}
    .flexbox .faux-table dl:first-of-type dd:nth-of-type(2) {-webkit-order:7; order:7;}
    .flexbox .faux-table dl:first-of-type dd:nth-of-type(3) {-webkit-order:8; order:8;}
    .flexbox .faux-table dl:first-of-type dd:nth-of-type(4) {-webkit-order:9; order:9;}
    .flexbox .faux-table dl:first-of-type dd:nth-of-type(5) {-webkit-order:10; order:10;}

    .flexbox .faux-table dl:not(:first-of-type) {
        display: table; /* All 'rows' except the first one should behave like a table. */
        table-layout: fixed; /* Force the faux table to adhere to our styles, rather than the browser's. */
        width: 100%; /* And they should be full-width. */
    }

    .flexbox .faux-table dl:not(:first-of-type) dt {
        display: none; /* In all 'rows' except the first one, hide all <dt> elements. */
    }

    .flexbox .faux-table dl:not(:first-of-type) dd {
        display: table-cell; /* In all 'rows' except the first one, the <dd> elements should behave like table-cells. */
    }
}